<title>Bread & Exile</title>

<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

<!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Custom Fonts -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito|Ruda:400,700" rel="stylesheet">

<style media="screen" type="text/css">
.lower {
  margin-top: 150px;
}

h1.order-placed {
  text-align: center;
  margin-bottom: 10px;
}

table#confirmation {
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}

.navbar-default {
  background-color: #212121;
  border-color: #212121;
}
.fa fa-shopping-basket {
  margin-left: 4px;
}
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("https://cdn.shopify.com/s/files/1/0790/5353/files/vwqm9mbzddw-artur-rutkowski_2ab85503-22ac-4aff-81e2-95f519fb7027.jpg?3296026437970955338") no-repeat center center;
    background-size: cover;

}
.sub-logo {
  font-family: 'Ruda', sans-serif;
  font-size: 25px;
}
.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}
.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;

}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;

}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}


</style>
