 <!DOCTYPE html>
 <html lang="en">

<head>
    <% include ../views/partials/_head %>
    <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
    <script src="../scripts/cart.js"></script>
 </head>
<style>

</style>
  <body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class ="lower">
    <div class="container">
      <div class="cart-logo">
<img src="https://cdn.shopify.com/s/files/1/0790/5353/files/Artboard_4.png?7709891575116393121"/>
</div>
    	<table id="cart" class="table table-hover table-condensed">
        				<thead>
    						<tr>
    							<th style="width:50%">Product</th>
    							<th style="width:10%">Price</th>
    							<th style="width:8%">Quantity</th>
    							<th style="width:22%" class="text-center">Subtotal</th>
    							<th style="width:10%"></th>
    						</tr>
    					</thead>
    					<tbody class="all-items">

    					</tbody>
    					<tfoot>
    						<tr class="visible-xs">
    							<td class="text-center"><strong>Total 1.99</strong></td>
    						</tr>
    						<tr>
    							<td><a href="/menu" class="btn btn-default"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
    							<td colspan="2" class="hidden-xs"></td>
    							<td class="hidden-xs text-center"><strong>Total</strong></td>
    							<td>
                    <form action="/checkout" method="POST">
                      <button name="checkout" value="checkout" class="btn btn-default btn-block"> Checkout <i class="fa fa-angle-right"></i>
                      </button>
                    </form>
                  </td>
    						</tr>
    					</tfoot>
    				</table>
    </div>
</div>
  </body>

 </html>
