 <!DOCTYPE html>
 <html lang="en">

<head>
    <% include ../views/partials/_head %>
    <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
    <script src="../scripts/cart.js"></script>
 </head>
<style>

</style>
  <body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class ="lower">
    <div class="container">
      <h1> YOUR CART </h1>
      <hr>
    	<table id="cart" class="table table-hover table-condensed">
        				<thead>
    						<tr>
    							<th style="width:50%">Product</th>
    							<th style="width:10%">Price</th>
    							<th style="width:8%">Quantity</th>
    							<th style="width:22%" class="text-center">Subtotal</th>
    							<th style="width:10%"></th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr>
    							<td data-th="Product">
    								<div class="row">

    									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
    									<div class="col-sm-10">
    										<h4 class="nomargin">Product 1</h4>
    										<p>Pour-over meggings pitchfork, put a bird on it selvage twee man bun. Chicharrones sriracha church-key dreamcatcher cornhole, gluten-free cray forage kitsch prism. Hot chicken portland drinking vinegar tacos. Chia echo park whatever, salvia kinfolk venmo vape godard af beard.</p>
                        <div>
                    <% cart[order_id].forEach(function (orderentry){ %>

                      <div> <%= orderentry.name %>  </div>

                    <% }) %>
                    </div>
    									</div>
    								</div>
    							</td>
    							<td data-th="Price">$1.99</td>
    							<td data-th="Quantity">
    								<input type="number" class="form-control text-center" value="1">
    							</td>
    							<td data-th="Subtotal" class="text-center">1.99</td>
    							<td class="actions" data-th="">
    								<button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
    								<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
    							</td>
    						</tr>
                <tr>
                  <td data-th="Product">
                    <div class="row">
                      <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                      <div class="col-sm-10">
                        <h4 class="nomargin">Product 2</h4>
                        <p>Cronut put a bird on it knausgaard hexagon shoreditch, venmo single-origin coffee pabst butcher mustache. Poke microdosing slow-carb, irony kickstarter kale chips flexitarian bushwick squid cliche. Live-edge man bun affogato, food truck locavore vegan occupy.</p>
                      </div>
                    </div>
                  </td>
                  <td data-th="Price">$5.99</td>
                  <td data-th="Quantity">
                    <input type="number" class="form-control text-center" value="1">
                  </td>
                  <td data-th="Subtotal" class="text-center">1.99</td>
                  <td class="actions" data-th="">
                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                  </td>
                </tr>
    					</tbody>
    					<tfoot>
    						<tr class="visible-xs">
    							<td class="text-center"><strong>Total 1.99</strong></td>
    						</tr>
    						<tr>
    							<td><a href="/menu" class="btn btn-default"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
    							<td colspan="2" class="hidden-xs"></td>
    							<td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
    							<td><a href="/checkout" class="btn btn-default btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
    						</tr>
    					</tfoot>
    				</table>
    </div>
</div>
  </body>

 </html>
