 <!DOCTYPE html>
 <html lang="en">

  <head>
    <% include ../views/partials/_head %>
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  </head>

  <body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class ="lower">
    <div class="container">

      <h1> Menu </h1>
      <hr>
      <table id="menu" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                <div class="col-sm-10">
                  <h4 class="nomargin">Hamburger</h4>
                  <p>Pour-over meggings pitchfork, put a bird on it selvage twee man bun. Chicharrones sriracha church-key dreamcatcher cornhole, gluten-free cray forage kitsch prism. Hot chicken portland drinking vinegar tacos. Chia echo park whatever, salvia kinfolk venmo vape godard af beard.</p>
                </div>
              </div>
            </td>
            <td data-th="Price">$1.99</td>

            <td class="actions" data-th="">
              <form action="/cart/add" id="add-to-cart-button" method="POST">
                <input type="submit" name="button" value="Add To Cart">
                <input type = "hidden" name = "item_price" value = "5" >
                <input type = "hidden" name = "item_id" value = "01" >
                <input type="text" name="item_quantity">
              </form>
            </td>

          </tr>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                <div class="col-sm-10">
                  <h4 class="nomargin">Pizza</h4>
                    <p>Cronut put a bird on it knausgaard hexagon shoreditch, venmo single-origin coffee pabst butcher  mustache. Poke microdosing slow-carb, irony kickstarter kale chips flexitarian bushwick squid cliche. Live-edge man bun affogato, food truck locavore vegan occupy.</p>
                </div>
              </div>
            </td>
            <td data-th="Price">$5.99</td>
            <td class="actions" data-th="">
              <form action="/cart/add" id="add-to-cart-button" method="POST">
                <input type="submit" name="button" value="Add To Cart">
                <input type = "hidden" name = "item_price" value = "5" >
                <input type = "hidden" name = "item_id" value = "01" >
                <input type="text" name="item_quantity">
              </form>
            </td>
          </tr>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                <div class="col-sm-10">
                  <h4 class="nomargin">Chips</h4>
                    <p>Pour-over meggings pitchfork, put a bird on it selvage twee man bun. Chicharrones sriracha church-key dreamcatcher cornhole, gluten-free cray forage kitsch prism. Hot chicken portland drinking vinegar tacos. Chia echo park whatever, salvia kinfolk venmo vape godard af beard.</p>
                </div>
              </div>
            </td>
            <td data-th="Price">$9000.99</td>
            <td class="actions" data-th="">
              <form action="/cart/add" id="add-to-cart-button" method="POST">
                <input type="submit" name="button" value="Add To Cart">
                <input type = "hidden" name = "item_price" value = "5" >
                <input type = "hidden" name = "item_id" value = "01" >
                <input type="text" name="item_quantity">
              </form>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><a href="/cart" class="btn btn-default btn-block">Cart <i class="fa fa-angle-right"></i></a></td>
          </tr>
        </tfoot>
      </table>
    </div>
    </div>
  </body>
</html>
