 <!DOCTYPE html>
 <html lang="en">

  <head>
    <% include ../views/partials/_head %>
    <script src="../scripts/menu.js"></script>
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

  </head>

  <body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class ="lower">
    <div class="container">
      <table id="menu" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th style="width:50%">Bread Choices:</th>
            <th style="width:10%">Price</th>
            <th style="width:10%">Quantity</th>
          </tr>
        </thead>

        <tfoot>

        </tfoot>
      </table>
      <tr>
        <td class="cart-button"><a href="/cart" class="btn btn-warning btn-block">Go To Cart <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </div>
    </div>
  </body>
</html>
