a.btn.btn-warning.btn-block{
  margin-bottom: 100px;
}

.lower {
  margin-top: 90px;
}

.btn-info {
  margin-left: 200px;
  background-color: #212121;


}

.menu-logo {
    width: 56%;
    float: right;
    margin-bottom: 40px;
}

.menu-logo img {
  width: 28%;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info:active:hover,
.btn-info.active {
  opacity: .5;
  background-color: #212121;
}




#add-to-cart-button {
  display: flex;
}

.form-control {
  width: 56.22222px;
}

.btn-block {
  width: 33%;
  float: right;
}
